<svg ng-class="settings.class" ng-style="chartStyle" ng-attr-width="{{settings.width}}" ng-attr-height="{{settings.height}}" ng-mousemove="abc.setMouseOffset($event)" >
    <!-- Title -->
    <text id="abc-title" ng-show="settings.title.show === true" ng-attr-x="{{abc.titleOffset().x}}" ng-attr-y="{{abc.titleOffset().y}}" fill="black" ng-attr-text-anchor="{{abc.titleAnchor()}}" ng-attr-font-size="{{settings.title.size}}" ng-bind="settings.title.content"></text>
    <!-- Regions -->
    <g id="abc-regions" ng-attr-transform="translate({{abc.chartOffset.x}}, {{abc.chartOffset.y}})">
      <g ng-repeat="region in settings.regions">
        <clipPath id="abc-region-clip-path-{{$index}}">
          <rect y="0" ng-attr-x="{{abc.regionOffset(region).x}}" ng-attr-width="{{abc.regionOffset(region).width}}" ng-attr-height="{{abc.chartOffset.height}}"></rect>
        </clipPath>
        <rect id="abc-region-rectangle" y="0" ng-attr-x="{{abc.regionOffset(region).x}}" ng-attr-width="{{abc.regionOffset(region).width}}" ng-attr-height="{{abc.chartOffset.height}}" ng-attr-fill="{{region.color}}" fill-opacity="0.2"></rect>
        <text clip-path="url(#abc-region-clip-path-{{$index}})" text-anchor="middle" ng-attr-x="{{abc.regionTitleOffset(region).x}}" ng-attr-y="{{abc.regionTitleOffset(region).y}}" ng-bind="region.title" ng-attr-font-size="{{region.size}}" ng-attr-fill="{{region.color}}" fill-opacity="0.5"></text>
      </g>
    </g>
    <!-- Main Chart Elements -->
    <g id="abc-chart-element" ng-include="'bower_components/angular-abc/views/abc-' + settings.type + '.html'"></g>
    <!-- Axis -->
    <g id="abc-axis" ng-attr-transform="translate({{abc.chartOffset.x}}, {{abc.chartOffset.y}})">
      <!-- Y Axis -->
      <line ng-attr-stroke-width="{{settings.axisLineWidth}}" stroke="black" x1="0" y1="0" x2="0" ng-attr-y2="{{abc.chartOffset.height}}"></line>
      <!-- Y Axis Ticks -->
      <line ng-hide="abc.yTickOffset($index) < 0 || abc.yTickOffset($index) > abc.chartOffset.height" ng-repeat="tick in abc.yTickList" ng-attr-x1="{{0 - settings.axisTickSize}}" ng-attr-y1="{{abc.yTickOffset($index)}}" x2="0" ng-attr-y2="{{abc.yTickOffset($index)}}" stroke="black" ng-attr-stroke-width="{{settings.axisTickWidth}}"></line>
      <!-- Y Axis Labels -->
      <text ng-hide="abc.yTickOffset($index) < 0 || abc.yTickOffset($index) > abc.chartOffset.height" class="abc-y-labels" ng-repeat="tick in abc.yTickList" ng-attr-x="{{0 - settings.axisTickSize*1.5 - abc.yTickTextLength($index)}}" ng-attr-y="{{abc.yTickOffset($index) + settings.headers.size / 2.5}}" text-anchor="right" ng-bind="abc.readableYTickValue($index)" ng-attr-font-size="{{settings.headers.size}}"></text>
      <!-- X Axis -->
      <line ng-attr-stroke-width="{{settings.axisLineWidth}}" stroke="black" x1="0" ng-attr-y1="{{abc.chartOffset.height}}" ng-attr-x2="{{abc.chartOffset.width}}" ng-attr-y2="{{abc.chartOffset.height}}"></line>
      <!-- X Axis Ticks -->
      <line ng-repeat="tick in settings.data[0]" ng-attr-x1="{{abc.calculatePointXValue($index)}}" ng-attr-y1="{{abc.chartOffset.height}}" ng-attr-x2="{{abc.calculatePointXValue($index)}}" ng-attr-y2="{{abc.chartOffset.height + settings.axisTickSize}}" stroke="black" ng-attr-stroke-width="{{settings.axisTickWidth}}"></line>
      <!-- X Axis Labels -->
      <text ng-repeat="column in settings.headers.columns" ng-attr-x="{{abc.calculatePointXValue($index)}}" ng-attr-y="{{abc.chartOffset.height + settings.axisTickSize + settings.headers.size}}" text-anchor="middle" ng-bind="settings.transform.xLabels(column.value)" ng-attr-font-size="{{settings.headers.size}}"></text>
    </g>
    <!-- Hovering lines & areas -->
    <g id="abc-hovering-areas" ng-attr-transform="translate({{abc.chartOffset.x}}, {{abc.chartOffset.y}})">
      <!-- Bar Top -->
      <line ng-show="settings.type === 'bar' && settings.hovering.y >= 0" ng-attr-x1="{{abc.hoveringBarOffset().x1}}" ng-attr-y1="{{abc.hoveringBarOffset().y1}}" ng-attr-x2="{{abc.hoveringBarOffset().x2}}" ng-attr-y2="{{abc.hoveringBarOffset().y2}}" stroke-width="2" stroke="black"></line>
      <!-- Zero Line -->
      <line ng-show="abc.showZeroLine()" x1="0" ng-attr-y1="{{abc.calculatePointYValue(0)}}" ng-attr-x2="{{abc.chartOffset.width}}" ng-attr-y2="{{abc.calculatePointYValue(0)}}" stroke-width="2" stroke-opacity="0.5" stroke="black"></line>
      <!-- Horizontal Line -->
      <line ng-show="settings.hovering.y >= 0 && settings.hovering.x >= 0" x1="0" ng-attr-y1="{{abc.calculatePoint(settings.hovering.y, settings.hovering.x).y}}" ng-attr-x2="{{abc.chartOffset.width}}" ng-attr-y2="{{abc.calculatePoint(settings.hovering.y, settings.hovering.x).y}}" stroke-width="1" stroke-opacity="0.5" stroke="black"></line>
      <!-- Vertical Line -->
      <line ng-show="settings.type !== 'bar' && settings.hovering.y < 0 && settings.hovering.x >= 0" ng-attr-x1="{{abc.verticalLineOffset()}}" y1="0" ng-attr-x2="{{abc.verticalLineOffset()}}" ng-attr-y2="{{abc.chartOffset.height}}" stroke-width="1" stroke-opacity="0.5" stroke="black"></line>
      <!-- Hovering Areas -->
      <rect ng-show="settings.type !== 'bar'" ng-repeat="line in settings.data[0]" ng-attr-x="{{abc.hoverAreaOffset($index).x}}" y="0" ng-attr-width="{{abc.hoverAreaOffset().width}}" ng-attr-height="{{abc.chartOffset.height}}" ng-mouseover="abc.setHovering(undefined, $index)" ng-mouseout="abc.setHovering()" fill="rgba(0, 0, 0, 0)"></rect>
      <!-- Hovering Areas for Bar -->
      <g id="abc-hovering-areas-bars" ng-show="settings.type === 'bar'" ng-class="abc.hoveringClass($index)" ng-repeat="points in settings.data">
          <rect ng-mouseover="abc.setHovering($parent.$index, $index)" ng-mouseout="abc.setHovering()" ng-repeat="point in points" ng-attr-x="{{abc.barOffset($parent.$index, $index).x}}" y="0" ng-attr-width="{{abc.barOffset($parent.$index, $index).width}}" ng-attr-height="{{abc.chartOffset.height}}" fill="rgba(0, 0, 0, 0)"></rect>
      </g>
    </g>
    <!-- Points -->
    <g id="abc-points" ng-show="settings.type !== 'bar'" ng-class="abc.hoveringClass($index)" ng-attr-transform="translate({{abc.chartOffset.x}}, {{abc.chartOffset.y}})" ng-repeat="points in settings.data" ng-attr-fill="{{settings.colors[$index % settings.colors.length]}}">
        <circle ng-mouseover="abc.setHovering($parent.$index, $index)" ng-mouseout="abc.setHovering()" ng-repeat="point in points" ng-attr-cx="{{abc.calculatePoint($parent.$index, $index).x}}" ng-attr-cy="{{abc.calculatePoint($parent.$index, $index).y}}" ng-attr-r="{{abc.pointRadius($parent.$index, $index)}}"></circle>
    </g>
    <!-- Popup group -->
    <g id="abc-popup" ng-attr-transform="translate({{abc.chartOffset.x}}, {{abc.chartOffset.y}})">
      <!-- Popup Legend -->
      <g id="abc-popup-legend" ng-show="settings.hovering.y >= 0 && settings.hovering.x >= 0" ng-attr-transform="translate({{abc.popupLegendX()}}, {{abc.calculatePoint(settings.hovering.y, settings.hovering.x).y - 10}})" >
        <rect x="0" y="0" ng-attr-width="{{abc.getTextLength('#abc-popup-column-text') + abc.getTextLength('#abc-popup-value-text') + 16}}" height="20" fill-opacity="0.8" stroke-opacity="0.5" fill="white" stroke="black" stroke-width="1"></rect>
        <text id="abc-popup-column-text" x="4" y="14" fill="black" font-size="12" text-anchor="left" ng-bind="abc.popupLabel(settings.hovering.y)"></text>
        <text id="abc-popup-value-text" ng-attr-x="{{abc.getTextLength('#abc-popup-column-text') + 8}}" y="14" fill="black" font-size="12" text-anchor="left" ng-bind="abc.popupValue(settings.hovering.y, settings.hovering.x)"></text>
      </g>
    </g>
</svg>
