<svg ng-style="chartStyle" ng-attr-width="{{settings.width}}" ng-attr-height="{{settings.height}}" ng-mousemove="abc.setMouseOffset($event)" >
    <!-- Title -->
    <text id="abc-title" ng-show="settings.title.show === true" ng-attr-x="{{abc.titleOffset().x}}" ng-attr-y="{{abc.titleOffset().y}}" fill="black" ng-attr-text-anchor="{{abc.titleAnchor()}}" ng-attr-font-size="{{settings.title.size}}" ng-bind="settings.title.content"></text>
    <!-- Line -->
    <g ng-show="settings.type === 'line'" ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})">
        <polyline ng-class="abc.hoveringClass($index)" ng-repeat="points in settings.data" ng-attr-stroke="{{settings.colors[$index % settings.colors.length]}}" ng-attr-points="{{abc.getPoints($index)}}" stroke-width="2" fill="none" />
    </g>
    <!-- Area -->
    <g ng-show="settings.type === 'area'" ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})">
        <polyline ng-class="abc.hoveringClass($index)" ng-repeat="points in settings.data" ng-attr-stroke="{{settings.colors[$index % settings.colors.length]}}" ng-attr-fill="{{settings.colors[$index % settings.colors.length]}}" ng-attr-points="{{abc.getAreaPoints($index)}}" fill-opacity="0.3" stroke-width="2" />
    </g>
    <!-- Spline -->
    <g ng-show="settings.type === 'spline'" ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})">
        <path ng-class="abc.hoveringClass($index)" ng-repeat="points in settings.data" ng-attr-stroke="{{settings.colors[$index % settings.colors.length]}}" ng-attr-d="{{abc.getSplinePoints($index)}}" stroke-width="2" fill="none" />
    </g>
    <!-- Bar -->
    <g ng-show="settings.type === 'bar'" ng-class="abc.hoveringClass($index)" ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})" ng-repeat="points in settings.data" ng-attr-fill="{{settings.colors[$index % settings.colors.length]}}">
        <rect ng-mouseover="abc.setHovering($parent.$index, $index)" ng-mouseout="abc.setHovering()" ng-repeat="point in points" ng-attr-x="{{$index * (settings.width-settings.margin*2) / (points.length) + $parent.$index * (settings.width-settings.margin*2) / (points.length) / settings.data.length}}" ng-attr-y="{{settings.height - settings.margin*2 - abc.axisLineSize - settings.headers.size - settings.title.size - point.value}}" ng-attr-width="{{(settings.width-settings.margin*2) / (points.length) / settings.data.length}}" ng-attr-height="{{point.value}}" />
    </g>
    <!-- Axis -->
    <g ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})">
      <!-- Y Axis -->
      <line stroke="black" x1="0" y1="0" x2="0" ng-attr-y2="{{abc.chartOffset().height}}" />
      <!-- X Axis -->
      <line stroke="black" x1="0" ng-attr-y1="{{abc.chartOffset().height}}" ng-attr-x2="{{abc.chartOffset().width}}" ng-attr-y2="{{abc.chartOffset().height}}" />
      <!-- X Axis Lines -->
      <line ng-repeat="point in settings.data[0]" ng-attr-x1="{{abc.chartOffset().width / (settings.data[0].length-1) * $index}}" ng-attr-y1="{{abc.chartOffset().height}}" ng-attr-x2="{{abc.chartOffset().width / (settings.data[0].length-1) * $index}}" ng-attr-y2="{{abc.chartOffset().height + abc.axisLineSize}}" stroke="black" stroke-width="1" />
      <!-- X Axis Labels -->
      <text ng-repeat="column in settings.headers.columns" ng-attr-x="{{abc.chartOffset().width / (settings.data[0].length-1) * $index}}" ng-attr-y="{{abc.chartOffset().height + abc.axisLineSize + settings.headers.size}}" text-anchor="middle" ng-bind="column.value" ng-attr-font-size="{{settings.headers.size}}"></text>
    </g>
    <!-- Bar Top -->
    <line ng-show="settings.type === 'bar' && settings.hovering.y >= 0" ng-attr-x1="{{abc.hoveringBar().x1}}" ng-attr-y1="{{settings.height - settings.margin - abc.axisLineSize - settings.headers.size - settings.data[settings.hovering.y][settings.hovering.x].value - 1}}" ng-attr-x2="{{abc.hoveringBar().x2}}" ng-attr-y2="{{settings.height - settings.margin - abc.axisLineSize - settings.headers.size - settings.data[settings.hovering.y][settings.hovering.x].value - 1}}" stroke-width="2" stroke="black" />
    <!-- Hovering lines & areas -->
		<g ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})">
			<!-- Zero Line -->
			<line ng-show="abc.calculatePointYValue(0) >= 0 && abc.calculatePointYValue(0) <= abc.chartOffset().height" x1="0" ng-attr-y1="{{abc.calculatePointYValue(0)}}" ng-attr-x2="{{abc.chartOffset().width}}" ng-attr-y2="{{abc.calculatePointYValue(0)}}" stroke-width="2" stroke-opacity="0.5" stroke="black" />
			<!-- Horizontal Line -->
	    <line ng-show="settings.hovering.y >= 0 && settings.hovering.x >= 0" x1="0" ng-attr-y1="{{abc.calculatePoint(settings.hovering.y, settings.hovering.x).y}}" ng-attr-x2="{{abc.chartOffset().width}}" ng-attr-y2="{{abc.calculatePoint(settings.hovering.y, settings.hovering.x).y}}" stroke-width="1" stroke-opacity="0.5" stroke="black" />
	    <!-- Vertical Line -->
	    <line ng-show="settings.hovering.y < 0 && settings.hovering.x >= 0" ng-attr-x1="{{abc.verticalLineOffset()}}" y1="0" ng-attr-x2="{{abc.verticalLineOffset()}}" ng-attr-y2="{{abc.chartOffset().height}}" stroke-width="1" stroke-opacity="0.5" stroke="black" />
			<!-- Hovering Areas -->
	    <rect ng-show="settings.type !== 'bar'" ng-repeat="line in settings.data[0]" ng-attr-x="{{(settings.width - settings.margin*2) / (settings.data[0].length-1) * ($index-0.5) + settings.margin}}" y="0" ng-attr-width="{{(settings.width - settings.margin*2) / (settings.data[0].length-1)}}" ng-attr-height="{{abc.chartOffset().height}}" ng-mouseover="abc.setHovering(undefined, $index)" ng-mouseout="abc.setHovering()" fill="rgba(0, 0, 0, 0)" />
		</g>
		<!-- Points -->
    <g ng-show="settings.type !== 'bar'" ng-class="abc.hoveringClass($index)" ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})" ng-repeat="points in settings.data" ng-attr-fill="{{settings.colors[$index % settings.colors.length]}}">
        <circle ng-mouseover="abc.setHovering($parent.$index, $index)" ng-mouseout="abc.setHovering()" ng-repeat="point in points" ng-attr-cx="{{abc.calculatePoint($parent.$index, $index).x}}" ng-attr-cy="{{abc.calculatePoint($parent.$index, $index).y}}" ng-attr-r="{{abc.pointRadius($parent.$index, $index)}}" />
    </g>
		<!-- Popup group -->
		<g ng-attr-transform="translate({{abc.chartOffset().x}}, {{abc.chartOffset().y}})">
	    <!-- Popup Legend -->
	    <g ng-show="settings.hovering.y >= 0 && settings.hovering.x >= 0" ng-attr-transform="translate({{abc.popupLegendX()}}, {{abc.calculatePoint(settings.hovering.y, settings.hovering.x).y - 10}})" >
	      <rect x="0" y="0" ng-attr-width="{{abc.getTextLength('#abc-popup-column-text') + abc.getTextLength('#abc-popup-value-text') + 16}}" height="20" fill-opacity="0.8" stroke-opacity="0.5" fill="white" stroke="black" stroke-width="1" />
	      <text id="abc-popup-column-text" x="4" y="14" fill="black" font-size="12" text-anchor="left" ng-bind="settings.headers.rows[settings.hovering.y].value"></text>
	      <text id="abc-popup-value-text" ng-attr-x="{{abc.getTextLength('#abc-popup-column-text') + 8}}" y="14" fill="black" font-size="12" text-anchor="left" ng-bind="abc.valueInUnit(settings.hovering.y, settings.hovering.x)"></text>
	    </g>
		</g>
</svg>
